@use 'styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
	box-sizing: border-box;
}

*::selection {
	background-color: rgba($primary_dark, 0.2);
}

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Opens Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	outline-offset: 2px;
	outline-width: 2px;
	outline-color: $primary_dark;
}

a:hover {
	text-decoration: underline;
}
