@use 'styles/variables' as *;

.home {
	display: flex;
	justify-content: center;

	.linksContainer {
		margin: 2rem;

		.linkWrapper {
			margin: 1rem;

			font-size: 2rem;
			font-weight: 600;
			font-family: monospace;
			color: $primary_dark;
		}
	}
}

